html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
}

.robot {
  width: 320px;
  margin: 0;
  position: relative;
  display: block;
  transform: translateX(-50%);
  left: 50%;
  top: 0%;
}

.robot-body {
  width: 320px;
  margin: 0;
}

.robot-brain {
  width: 46px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 0%;
}

.robot-head-right {
  width: 125px;
  position: absolute;
  transform: translateX(-36%);
  left: 64%;
  top: 0%;
}
.robot-head-left {
  width: 125px;
  position: absolute;
  transform: translateX(-64%);
  left: 36%;
  top: 0%;
}
